* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

:root {
  --error-toast-text-light-red: #e74c3d;
  --error-toast-text-dark-red: #8b0000;
  --error-toast-text-white: #ffffff;
  --error-toast-text-light-gray: #d3d3d3;
  --error-toast-text-dark-gray: #696969;
  --info-toast-text-light-blue: #7fbfff;
}

.Toastify__toast-theme--dark.Toastify__toast--error {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.Toastify__toast-theme--dark.Toastify__toast--error .Toastify__toast-body {
  color: var(--error-toast-text-light-red);
}

.Toastify__progress-bar-theme--dark.Toastify__progress-bar--error {
  background-color: rgba(255, 255, 255, 0.5);
}

.Toastify__toast-theme--dark.Toastify__toast--info {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.Toastify__toast-theme--dark.Toastify__toast--info .Toastify__toast-body {
  color: var(--info-toast-text-light-blue);
}

.Toastify__progress-bar-theme--dark.Toastify__progress-bar--info {
  background-color: rgba(255, 255, 255, 0.5);
}
