* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

html {
  height  : 100%;
  overflow: hidden;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
