.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: radial-gradient(at top 35% left 45%, #0a0c106c, transparent 35%),
    radial-gradient(at bottom center, #0a0c1052, transparent 35%),
    radial-gradient(circle at top -5% left 35%, #0a0c108a, transparent 25%),
    radial-gradient(circle at top 15% left 20%, #0a0c108a, transparent 25%),
    radial-gradient(
      at top 65% left 5%,
      rgba(10, 12, 16, 0.315),
      transparent 50%
    ),
    radial-gradient(at top 10% left 80%, #0a0c108a, transparent 60%),
    radial-gradient(at top 80% left 75%, #0a0c108a, transparent 40%),
    radial-gradient(circle at top 75% left 75%, #0a0c108a, transparent 25%),
    radial-gradient(
      at top 30% left 75%,
      rgba(51, 153, 254, 0.2),
      transparent 70%
    ),
    radial-gradient(
      at top 25% left 40%,
      rgba(51, 153, 254, 0.15),
      transparent 50%
    ),
    radial-gradient(
      at top 60% left 85%,
      rgba(51, 153, 254, 0.15),
      transparent 50%
    );
  background-size: cover;
  background-color: #0a0c10;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 2rem;
}
